.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 10px 0 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & > * {
    margin-top: 10px;
  }
}
