.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.left {
  display: flex;

  .image {
    $d: 40px;
    margin-right: 10px;
    height: $d;
    width: $d
  }
}

.header {
  margin-bottom: 2px !important;
}

.status {
  height: 15px;
  font-size: 13px;
  padding: 2px 5px;
  margin: 0;
}
